<div class="panel panel-default" id="loadJson-panel-1">
  <div class="panel-heading">Log files</div>
  <div class="funkyradio" id="log-file-group">
  </div>
</div>

<div class="panel panel-default" id="loadJson-panel-2">
  <div class="panel-heading">
    Render Graph
  </div>
  <div class="funkyradio" id="render-values">
    <div class="funkyradio-success">
      <input class="render-value" type="checkbox" name="checkbox" id="gyro" />
      <label for="gyro">ジャイロセンサ値</label>
    </div>
    <div class="funkyradio-success">
      <input class="render-value" type="checkbox" name="checkbox" id="touch" />
      <label for="touch">タッチセンサ値</label>
    </div>
    <div class="funkyradio-success">
      <input class="render-value" type="checkbox" name="checkbox" id="sonar" />
      <label for="sonar">ソナー値</label>
    </div>
    <div class="funkyradio-success">
      <input class="render-value" type="checkbox" name="checkbox" id="brightness" />
      <label for="brightness">輝度値</label>
    </div>
    <div class="funkyradio-success">
      <input class="render-value" type="checkbox" name="checkbox" id="rgb_r" />
      <label for="rgb_r">RGB:R値</label>
    </div>
    <div class="funkyradio-success">
      <input class="render-value" type="checkbox" name="checkbox" id="rgb_g" />
      <label for="rgb_g">RGB:G値</label>
    </div>
    <div class="funkyradio-success">
      <input class="render-value" type="checkbox" name="checkbox" id="rgb_b" />
      <label for="rgb_b">RGB:B値</label>
    </div>
    <div class="funkyradio-success">
      <input class="render-value" type="checkbox" name="checkbox" id="hsv_h" />
      <label for="hsv_h">HSV:H値</label>
    </div>
    <div class="funkyradio-success">
      <input class="render-value" type="checkbox" name="checkbox" id="hsv_s" />
      <label for="hsv_s">HSV:S値</label>
    </div>
    <div class="funkyradio-success">
      <input class="render-value" type="checkbox" name="checkbox" id="hsv_v" />
      <label for="hsv_v">HSV:V値</label>
    </div>
    <div class="funkyradio-success">
      <input class="render-value" type="checkbox" name="checkbox" id="arm_count" />
      <label for="arm_count">前輪エンコーダ値</label>
    </div>
    <div class="funkyradio-success">
      <input class="render-value" type="checkbox" name="checkbox" id="arm_left" />
      <label for="arm_left">左輪エンコーダ値</label>
    </div>
    <div class="funkyradio-success">
      <input class="render-value" type="checkbox" name="checkbox" id="arm_right" />
      <label for="arm_right">右輪エンコーダ値</label>
    </div>
    <div class="funkyradio-success">
      <input class="render-value" type="checkbox" name="checkbox" id="length" />
      <label for="length">走行距離</label>
    </div>
    <div class="funkyradio-success">
      <input class="render-value" type="checkbox" name="checkbox" id="angle" />
      <label for="angle">車体角度</label>
    </div>
    <div class="funkyradio-success">
      <input class="render-value" type="checkbox" name="checkbox" id="coordinate_x" />
      <label for="coordinate_x">自己位置X座標</label>
    </div>
    <div class="funkyradio-success">
      <input class="render-value" type="checkbox" name="checkbox" id="coordinate_y" />
      <label for="coordinate_y">自己位置Y座標</label>
    </div>
  </div>
</div>
