#device-connector-wrapper {
  width: 100%;
  height: 100%;

  display: flex;           display: -webkit-flex;
  align-items: center;     -webkit-align-items: center;
  justify-content: center; -webkit-justify-content: center;
}

#device-connector {
  border-radius: 10px;
  background-color: rgb(239, 239, 239);
  border: 0.5px solid rgb(210,210,210);

  margin-bottom: 30px;
  width: 300px;
  height: 400px;
}

.device-connector-header {
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  font-weight: bold;
  margin-bottom: 15px;
}

.device-connector-body {
  margin: 0;
  height: 165px;
  width: calc( 100% - 40px );
  margin: 0 20px 0 20px;
  overflow: scroll;
  background-color: rgb(161,161,161);
  border: 0.5px solid rgb(161,161,161);
}

.device-connector-body > ul {
  margin: 0;
  padding: 0;
}

#device-connector-body-footer {
  height: 20px;
  width: calc( 100% - 40px );
  margin: 0 20px 0 20px;
  background-color: rgb(247, 247, 247);
  border: 0.5px solid rgb(180,180,180);
}

#device-connector-update-button {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: auto;
  background-color: rgb(247, 247, 247);
  border-left: 0.5px solid rgb(180,180,180);

  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

#device-connector-update-button:hover {
  background: rgb(180,180,180);
}

#device-connector-update-button.disabled {
  background: rgb(180,180,180);
  pointer-events: none;
}

#device-connector-update-button > img {
  height: 15px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding-left: 2px;
  padding-bottom: 1px;
}

.device-connector-device-name {
  margin: 0;
  padding: 5px 0 5px 10px;
  list-style: none;
  cursor: pointer;
}

.device-connector-device-name:nth-child(even) {
  background:#ddd;
}

.device-connector-device-name:nth-child(odd) {
  background:#fff;
}

.device-connector-device-name:nth-child(even).selected,
.device-connector-device-name:nth-child(odd).selected {
  background: rgb(140,177,204);
}

.device-connector-footer {
  width: 100%;
  height: 72px;

  margin-top: 0px;

  display: flex;           display: -webkit-flex;
  align-items: center;     -webkit-align-items: center;
  justify-content: center; -webkit-justify-content: center;
}

#device-connector-connect-button {
  border-radius: 5px;
  padding: 5px 8px 5px 8px;
  color: white;
  background: rgb(0,100,180);
  padding: .7em;
  font-size: .9em;
  margin: .5em;
  text-decoration: none;
  text-align: center;
  box-shadow: 2px 2px 2px #999;
  cursor: pointer;
  width: 100px;
}

#device-connector-connect-button.disabled {
  color: rgb(220,220,220);
  background: rgb(0,50,100);
  pointer-events: none;
}

#device-connector-connect-button:hover {
  color: rgb(220,220,220);
  background: rgb(0,50,100);
}
