#file-reader {
  width: calc( 100% - 40px );
  heihgt: 30px;
  text-center: align;
  margin: 20px;
}

#file-reader-form-input {
  float: left;
  display: inline;
  border: none;
  padding: 0 0 0 5px;
  height: 30px;
  line-height: 30px;
  width: calc(100% - 70px);
  border: 1px solid black;
  pointer-events: none;
}

#file-reader-select-button {
  display: inline-block;
  cursor: pointer;
  height: 30px;
  width: 60px;
  text-align: center;
  line-height: 30px;
  font-size: 10px;
  border: 1px solid black;
}
