#file-reader {
  width: calc( 100% - 40px );
  heihgt: 30px;
  text-center: align;
  margin: 10px 20px 10px 20px;
}

#file-reader-form-input {
  float: left;
  display: inline;
  border: none;
  padding: 0 0 0 5px;
  height: 30px;
  line-height: 30px;
  width: calc(100% - 70px);
  border: 1px solid black;
  pointer-events: none;

  border: 0.5px solid rgb(161,161,161);
}

#file-reader-select-button {
  display: inline-block;
  cursor: pointer;
  height: 32px;
  width: 60px;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background: rgb(0,100,180);
}

#file-reader-select-button:hover {
  color: rgb(220,220,220);
  background: rgb(0,50,100);
}
