#file-input-form {
  width: calc( 100% - 40px );
  heihgt: 30px;
  text-center: align;
  margin: 20px;
}

.file-input-form-title {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 60px;
}

#file-input-form-input {
  display: inline;
  border: none;
  padding: 0 0 0 5px;
  height: 30px;
  line-height: 30px;
  width: calc(100% - 70px);
}
