#file-input-form {
  width: calc( 100% - 40px );
  height: 30px;
  text-center: align;
  margin: 20px 20px 15px 20px;
}

.file-input-form-title {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 62px;
  font-size: 15px;
  font-weight: bold;
}

#file-input-form-text {
  display: inline;
  border: none;
  padding: 0 0 0 5px;
  height: 30px;
  line-height: 30px;
  width: calc(100% - 74px);
  border: 0.5px solid rgb(161,161,161);
}
