/*
 * main.css
 */

/* ---- 主要素の配置 ---- */

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.container {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.header {
  padding: 0;
  margin: 0;
  background-color: gray;
  font-size: 20px;

  width: 100%;
  height: 50px;

  /* ヘッダー内の要素の配置 */
  display: flex;
  justify-content: left;
  align-items: center;
}

.body {
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar {
  overflow: auto;
  position: fixed;

  height: 100%;
  width: 210px;

  display: flex;
  flex-direction: column;

  background-color: rgb(200,200,200);
}

.contents {
  margin:0 0 0 210px;
  padding:0 0 0 0;
  overflow:auto;
  height: 100%;
  width: 100%;

  flex: 1;
}

/* ------------------------ */

/* ---- ヘッダー内の配置 ---- */

.header ul  {
  text-align: left;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.header ul li {
  display: inline;
  padding: 10px 10px 10px 10px;
}

/* -------------------------- */

/* ---- サイドバー内の配置 ---- */

/* ----- realtime ----- */

#log-file-name {
  width: 100%;
  height: 70px;
  overflow: auto;
  background-color: rgb(200,200,200);
}

#logFileName {
  width: 200px;
}

#device-list {
  width: 100%;
  flex: 0 0 40%;
  overflow: auto;
  background-color: rgb(200,200,200);
}

#realtime-render-value-kind-list {
  width: 100%;
  flex: 0 0 40%;
  overflow: auto;
  background-color: rgb(200,200,200);
}

.sidebar-header {
  width: 210px;
  height: 30px;
  position: fixed;
  color: rgb(80,80,80);
  background-color: rgb(150,150,150);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1;
}

.sidebar-content {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  margin-top: 35px;
}

/* -------------------- */

/* ----- loadJson ----- */

.loadJson-panel {
  flex: 0 0 45%;
  overflow: auto;
}

#log-file-list {
  background-color: rgb(200,200,200);
}

#loadJson-render-value-kind-list {
  background-color: rgb(200,200,200);
}

/* -------------------- */

/* -------------------------- */

/* ------ button ------- */

.button-area-line {
  margin: 5px auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  max-width: 90%;
}

a.disabled {
  pointer-events: none;
}

a.button {
  color: white;
  background: rgb(0,100,180);
  padding: .7em;
  font-size: .9em;
  margin: .5em;
  text-decoration: none;
  flex-grow: 1;
  text-align: center;
  box-shadow: 2px 2px 2px #999;
}

a.button:hover {
  color: rgb(220,220,220);
  background: rgb(0,50,100);
}

a.danger {
  background: rgb(255,0,0);
}

a.danger:hover {
  color: rgb(180,180,180);
  background: rgb(180,0,0);
}

a.danger.disabled {
  color: rgb(180,180,180);
  background: rgb(180,0,0);
}

/* --------------------- */
