#maprenderer-box {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  margin: 20px;
  overflow: scroll;

  display: flex;           display: -webkit-flex;
  align-items: center;     -webkit-align-items: center;
  justify-content: center; -webkit-justify-content: center;
}

#maprenderer-box > .imageviewer {
  height: 100%;
}

#maprenderer-box > .imageviewer > .imageviewer-preview-box {
  height: calc(100% - 30px);
}

.map-chart-svg {
  position: absolute;
}

.map-chart-tooltip {
  position:absolute;
  top:0px;
  left:0px;
  z-index:10000;
  visibility:hidden;

  width:64px;
  height:20px;

  overflow:hidden;
  font-size:10px;
  color:black;

  border-radius: 3px;
  background-color: rgb(241, 241, 241);
  box-shadow:-3px 3px 2px -1px rgba(0, 0, 0, 0.5);

  display: flex;           display: -webkit-flex;
  align-items: center;     -webkit-align-items: center;
  justify-content: center; -webkit-justify-content: center;
}
