#maprenderer-box {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  margin: 20px;
  overflow: scroll;

  display: flex;           display: -webkit-flex;
  align-items: center;     -webkit-align-items: center;
  justify-content: center; -webkit-justify-content: center;
}

#maprenderer-box > .imageviewer {
  height: 100%;
}

#maprenderer-box > .imageviewer > .imageviewer-preview-box {
  height: 100%;
}

.map-chart-svg {
  position: absolute;
}
