#maprenderer-box {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  margin: 20px;
  overflow: scroll;

  display: flex;           display: -webkit-flex;
  align-items: center;     -webkit-align-items: center;
  justify-content: center; -webkit-justify-content: center;
}

#maprenderer-box > .imageviewer {
  height: 100%;
}

#maprenderer-box > .imageviewer > .imageviewer-preview-box {
  height: calc(100% - 30px);
}

.map-chart-svg {
  position: absolute;
}

.map-chart-tooltip {
  position:absolute;
  top:0px;
  left:0px;
  z-index:10000;
  visibility:hidden;

  width:64px;
  height:20px;

  overflow:hidden;
  font-size:10px;
  color:black;

  border-radius: 3px;
  background-color: rgb(241, 241, 241);
  box-shadow:-3px 3px 2px -1px rgba(0, 0, 0, 0.5);

  display: flex;           display: -webkit-flex;
  align-items: center;     -webkit-align-items: center;
  justify-content: center; -webkit-justify-content: center;
}

#map-chart-dragbehavior-button {
  position: absolute;
  z-index:10000;
  top: 20px;
  right: 20px;

  border-radius: 3px;
  background-color: rgb(241, 241, 241);
  box-shadow:-3px 3px 2px -1px rgba(0, 0, 0, 0.5);

  width:64px;
  height:64px;

  cursor: pointer;

  display: flex;           display: -webkit-flex;
  align-items: center;     -webkit-align-items: center;
  justify-content: center; -webkit-justify-content: center;
}

#map-chart-dragbehavior-button:hover::before {
  background-color: rgba(0,0,0,0.3);
  border-radius: 3px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}

div.map-chart-dragbehavior-rotate > img {
  content: url("../resources/rotate_icon.png");
  width: 50px; /*or your image's width*/
  height: 50px; /*or your image's height*/
}

div.map-chart-dragbehavior-translate > img {
  content: url("../resources/move_icon.png");
  width: 50px; /*or your image's width*/
  height: 50px; /*or your image's height*/
}

g.map-chart-dragbehavior-rotate > circle {
  cursor: move;
}

g.map-chart-dragbehavior-translate > circle {
  cursor: move;
}
